<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ question?.title }}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>
      {{ question?.description }}
    </p>
    <ul class="mdl-menu" for="demo-menu-lower-left">
      <li *ng-for="#choice of question?.choices" 
          class="mdl-menu__item">
        <label>
          <input  type="checkbox" 
                  class="mdl-switch__input"
                  [checked]="choice.checked"
                  (change)="onCheckedChange($event, choice)"/>
          <span class="mdl-switch__label">{{ choice.label }}</span>
        </label>
      </li>
    </ul>
  </div>
</div>