<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ title }}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a [router-link]="['`${Routes.technology.as}`']" class="mdl-navigation__link">Technology</a>
        <router-outlet></router-outlet>
      </nav>
    </div>
  </header>
 
  <main class="mdl-layout__content" fix-scrolling>
    <home></home>
  </main>
 
</div>